.divMain-yo{
	@extend .divMain-beneficios;
	color: map-get($colors, color2);
	font-size: map-get($size, size5);

}

.imgDoctora{
	height: 85vh;
}


.divMain{
	text-align: center;
}

#main__yo{
	background-color:map-get($colors, color2);
	padding: 30px;
}


// breakpoints



@media only screen and (min-width: 100px){

#main__yo{
	padding:60px;
}


}